.task-item {
    display: flex;
    align-items: center;
}

.task-item_checkbox {
    margin-left: 10px;
}

.note-item__header {
    display: flex;
    align-items: center;
}

.note-item_icon {
    width: 20px;
    height: 20px;

    fill: #2c3e50;

    margin-left: 8px;
}